html,
body {
    width: 100%;
    color: white;
    background-color: black;
}
/********
 Navbar 
 ********/
.header {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    z-index: 1;
}
.Navbar {
    position: relative;
}
.header .logo {
    margin-left: 10px;
}
.header .nav1 {
    display: flex;
    justify-content: space-between;
}
.nav1 {
    display: flex;
}
.nav1 .search-bar {
    display: flex;
    justify-content: flex-start;
    height: 20px;
    position: relative;
    top: 8%;
    padding-right: 5%;
    margin-right: 2%;
}
.search-bar input {
    background-color: black;
    padding: 1px;
    top: 7%;
    position: absolute;
    right: 11%;
}
.search-bar .search-img {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0%;
}
.Category {
    height: 23px;
    color: white;
    background-color: black;
    margin-top: 2%;
    padding: 2%;
}
.favorites {
    margin-top: 1%;
    margin-right: 1%;
    padding: 2%;
}
.poster-img {
    width: 100%;
    position: relative;
}
/******
content 
*******/

h1 {
    font-size: 32px;
}
.Movies {
    display: flex;
}
.Movies-poster {
    position: relative;
}
.like-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
.Movies-info {
    height: 550px;
    width: 320px;
    margin: 10px;
}
.Movies-img {
    height: 80%;
    width: 100%;
}
.ratings-trailer {
    display: flex;
    justify-content: space-between;
}
.star {
    height: 4vh;
}
.ratings {
    padding-right: 50%;
    padding-top: 2%;
}
.date {
    padding-top: 3%;
}
.trailer-button img {
    height: 5vh;
}
.extra-info {
    display: flex;
}
/* Footer */
.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}
.logo {
    margin-left: 10px;
}
.logo img {
    height: 30px;
}
